---
layout: 2017_default
permalink: /fandr
title: Fixtures and Results
---

<script type="text/javascript">
  document.write(
    '<body style="background: #F7F7F7; background-attachment: fixed;">'
  );
</script>

<section id="Fixtures and Results" class="black-frame about about-container about-container-top about-container-bottom">
  <h1>Fixtures and Results</h1>

  <h2> Upcoming Fixtures</h2>

  {% assign fixtures = site.data.fixtures %}
  <ul>
    {% for match in fixtures %}
      <li>{{ match.Home }} vs {{ match.Away }} at {{ match.Venue }}</li>
    {% endfor %}
  </ul>

  <h2> 2025 Results</h2>

  {% assign 2025 = site.data.2025 %}
  <ul>
    {% for r2025 in 2025 %}
      <li>{{ r2025.Home }} vs {{ r2025.Away }} at {{ r2025.Venue }} - {{r2025.Winner}}</li>
    {% endfor %}
  </ul>
test
</section>

