<!-- Clients Aside -->

<div style="text-align: center;">
  <h1>
    Watch all of Welsh Cricket on Twitch:
    <a class="urllink" href="https://www.twitch.tv/vanhalen06" rel="nofollow" target="_blank">@vanhalen06</a>
  </h1>
  <a href="https://www.twitch.tv/vanhalen06" class="portfolio-link" data-toggle="modal" target="_blank">
    <img
      src="../css/2017_style/img/logos/vh.png"
      alt="vanhalen06 Logo"
      style="display: block; margin: 20px auto; width: 100%; max-width: none; height: auto;"
    />
  </a>
</div>
