<!-- Clients Aside -->

<aside
  class="clients"
  class="bg-white"
  style="margin-top: 0; margin-bottom: 0"
>
  <div class="container text-center">
        <h2>Watch all Welsh Cricket on Twitch</h2>
        <div class="row justify-content-center">
            <div class="col-md-4 col-sm-6">
                <a href="https://www.twitch.tv/vanhalen06" class="portfolio-link" target="_blank">
                    <img
                        src="../css/2017_style/img/logos/vh.png"
                        class="img-responsive img-centered"
                        style="max-width: 225px; margin: 0 auto;"
                        alt="vanhalen06 Logo"
                    />
                </a>
            </div>
        </div>
    </div>

</aside>
