<!-- Clients Aside -->

<div style="text-align: center;">
  <h1>Watch all of Welsh Cricket on Twitch <a href="https://www.twitch.tv/vanhalen06" 
    rel="nofollow"
    target="_blank"
    style="background-color: #242f60; border: 2px solid #242f60;" class="btn btn-sm">@vanhalen06</a></h1>
  <a href="https://www.twitch.tv/vanhalen06" class="portfolio-link" data-toggle="modal" target="_blank">
            <img
                src="../css/2017_style/img/logos/vh.png"
                class="img-responsive img-centered"
                style="max-width: 550px"
                alt="vanhalen06 Logo"
            />
            </a>
</div>
